<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target 
      name="logfile" 
      xsi:type="File"
      maxArchiveFiles="4"
      archiveAboveSize="50000000"
      fileName="${specialfolder:LocalApplicationData}/Lively Wallpaper/logs/${cached:cached=true:inner=${date:format=yyyyMMdd_HHmmss}}.txt" />
    <target name="logconsole" xsi:type="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>