<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- unused, see App() contructor for nlog config.-->
  <targets>
    <target name="logfile" xsi:type="File" fileName="${specialfolder:dir=Lively Wallpaper:file=logfile.txt:folder=MyDocuments}" deleteOldFileOnStartup="true" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>